@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1170px;
    height: auto;
    margin: auto;
}
.container h2{
    background: chartreuse;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid red;
    text-align: center;
}
.simple_border{
    background-color: aliceblue;
    margin-top: 25px;
    border: 1px solid blue;
    padding: 12px;
    border-radius: 12px;
}
.simple_border .all{
    border: 2px solid green;
    background: honeydew;
}
.simple_border .bottom_border{
    border-bottom: 2px solid blue;
}

.simple_border .rounded{
    border: 2px solid maroon;
    border-radius: 15px;
}

.simple_border .left_blue{
    border-left: 5px solid blue;
    border-radius: 0;
}
p{
    font-size: 20px;
}
.dot p{
    border-style: dotted;
    padding: 10px;
    border-radius: 12px;
}
.dash p{
    border-style: dashed;
    padding: 10px;
    border-radius: 12px;
}
.sloid p{
    border-style: solid;
    padding: 10px;
    border-radius: 12px;
}
.double{
    border-style: double;
    padding: 10px;
    border-radius: 12px;
}
.groove p{
    border-style: groove;
    padding: 10px;
    border-radius: 12px;
}
.ridhe{
    border-style: ridge;
    padding: 10px;
    border-radius: 12px;
}
.inset p{
    border-style: inset;
    padding: 10px;
    border-radius: 12px;
}
.outset p{
    border-style: outset;
    padding: 10px;
    border-radius: 12px;
}