@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: khaki;
}
.fxd{
    border: 1px solid black;
    padding: 10px;
}
.fxd h2{
    background-color: lightcoral;
    padding: 15px;
    border-radius: 15px;
}
.fxd p{
    font-size: 20px;
    line-height: 35px;
    background-image: url("img/visual-stories-micheile-AVqLAL23zJU-unsplash.jpg");
    background-attachment: fixed;
    color: darkblue;
    font-weight: 800;
}
.dyn{
    border: 1px solid green;
    margin-top: 30px;
    padding: 10px;
}
.dyn h2{
    background-color: goldenrod;
    padding: 15px;
    border-radius: 12px;
}
.dyn p{
    font-size: 22px;
    line-height: 35px;
    background-image: url("img/tree_267376982.jpg");
    background-attachment: scroll;
}