@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin:0; padding:0;
}

p {
  padding-left: 20px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  
  strong {
    font-size: 18px;
  }
  
  a {
    color: #30c5fb;
  }
}
img {
  vertical-align: middle;
}
.data-row {
  padding-top: 5px;
  
  height: 16px;
  
  line-height: 16px;
  vertical-align: middle;
}

.social-row {
  a {
    text-decoration: none !important;
  }
}