* {
    box-sizing: border-box;
}
body{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    padding: 6px;
    border-radius: 10px;
    text-align: center;
}

.bgclr{
    margin-top: 15px;
    background-color: lightgray;
    padding: 10px;
}
.bgclr h2{
    background-color: orange;
    padding: 7px;
    border-radius: 10px;
    color: wheat;
    font-size: 35px;
}
.bgclr p{
    background-color: teal;
    padding: 10px;
    border-radius: 12px;
    font-size: larger;
    line-height: 35px;
    color: white;
}

.bdr{
    margin-top: 30px;
    background-color: slateblue;
    padding: 15px;
}
.bdr h1{
    background-color: red;
    color: white;
}
.bdr h2{
    padding: 8px;
    color: white;
    text-align: center;
}
.h21{
    border: 2px solid tomato;
    padding: 15px;
    margin-bottom: 25px;
}
.h22{
    border: 2px solid orange;
    padding: 15px;
    margin-top: 45px;
}
.h23{
    border: 2px solid mediumseagreen;
    padding: 15px;
}